<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>{{title}}</title>
</head>
<body>
  <h2 class="hed1">{{title}} Footer: </h2>
  <div class="footer1">
    <h3>Created By Hafsa Tarek</h3>

    <p>
      <span>Follow us on </span>
      <a href="https://facebook.com" target="_blank">Facebook</a>, 
      <a href="https://twitter.com" target="_blank">Twitter</a>, 
      <a href="https://instagram.com" target="_blank">Instagram</a>.
    </p>
  </div>
</body>
</html>
